@import "./var";

.mint-header{
  height: @header-height;
  font-size: 1rem;
}

.el-popover{
  width:100% !important;
  left: 0px !important;
  box-sizing: border-box;
}

.mint-cell-wrapper{
  line-height: 2rem;
}
.mint-cell-value{
  font-size: 1rem;
}
